﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../../Content/bootstrap.min.css" />
    <link href="../../Content/bootstrap-theme.min.css" />
    <style>
        body{padding: 0; margin: 0;}

    </style>
    <title>YS</title>
</head>
<body>
    <canvas id="c" width="100" height="100"></canvas>
    <script type="text/javascript" src="../../Scripts/fabric.js"></script>
    <script type="text/javascript" src="../../Scripts/application.js"></script>
</body>
</html>
